language: go

go:
  - 1.11.x

before_install:
  - go get github.com/mattn/goveralls
script:
    # goveralls also runs the test
  - $GOPATH/bin/goveralls -service=travis-ci -v -race

after_success:
  - test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash
